#grandparent {
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #parent {
    width: 50%;
    height: 50%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #child {
    width: 25%;
    height: 25%;
    background-color: lightgreen;
  }